.root {
    -primary-color: #81d4fa;
    -primary-color-light: #b6ffff;
    -primary-color-dark: #4ba3c7;
    -secondary-color: #c5cae9;
    -secondary-color-light: #f8fdff;
    -secondary-color-dark: #9499b7;

    -primary-color-text: #000000;
    -secondary-color-text: #000000;
}