.university-main-title {
    -fx-font: 40px Tahoma;
}

.main-screen-medium-text {
    -fx-font: 28px Tahoma;
}

.app-bar-link-style {
    -fx-text-fill: #000000
}

.room-display-title {
    -fx-font: 40px Tahoma;
}

.room-display-text {
    -fx-font: 24px Tahoma;
}