@import url("palette.css");

.profile-page-tab {
    -fx-background-color: -primary-color;
    -fx-font-family: -primary-font-name;
    -fx-font-weight: bold;
}

.profile-page-tab:selected {
    -fx-background-color: -primary-color-dark;
    -fx-font-family: -primary-font-name;
    -fx-font-weight: bold;
}

.profile-page-tab-hov:hover {
    -fx-background-color: -primary-color-light;
    -fx-font-family: -primary-font-name;
    -fx-font-weight: bold;
}

.main-screen-medium-text {
    -fx-text-fill: -primary-color-text;
    -fx-font-family: -primary-font-name;
}

.rec-image-button-label {
    -fx-fill: -secondary-color-text;
    -fx-font-family: -primary-font-name;
}

.app-bar-link-style {
    -fx-text-fill: -primary-color-text;
    -fx-font-family: -primary-font-name;
}

.app-bar-title {
    -fx-text-fill: -primary-color-text;
    -fx-font-family: -primary-font-name;
}

.room-display-text {
    -fx-font-size: 24px;
    -fx-font-family: -primary-font-name;
}