@import url("palette.css")

.university-main-title {
    -fx-font: 40px Tahoma;
}

.main-screen-medium-text {
    -fx-font: 28px Tahoma;
}

.rec-image-button-label {
    -fx-fill: -secondary-color-text;
}

.app-bar-link-style {
    -fx-text-fill: -primary-color-text;
}

.room-display-title {
    -fx-font: 40px Tahoma;
}

.room-display-text {
    -fx-font: 24px Tahoma;
}